@import url('calender.css');
@import url('reset.css');
@import url('dateformat.css');

.app {
  display: grid;
  place-items: center;
}

.input-box {
  border: 1px solid rgba(0,0,0,0.3);
  margin-top: 20px;
  transition: all 500ms ease-out;
  padding: 4px 6px;
  width: 300px;
}

.main-input {
  width: 90%;
  font-size: 18px;
}

.input-box:hover {
  border-color: dodgerblue;
}

.far, .fas, .main-input {
  /*font-size: 20px;*/
  color: #666;
}

.error::-webkit-input-placeholder {
  color: red;
}